<!-- Start deneb_project section -->
<section class="deneb_project project_v1">
	<div class="shape_v3">
		<img src="{{ "/assets/images/shape/shape_10.png" | absolute_url }}" class="shape_10" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Find us on the web</h2>
					<p>Our law firm has been featured in articles, presentations and webinars. Please check back as we are updating our site</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="project_button text-center">
					<button class="project_btn active_btn" data-filter="*">all</button>
					<button class="project_btn" data-filter=".cat1">Articles</button>
					<button class="project_btn" data-filter=".cat2">Presentations</button>
					<button class="project_btn" data-filter=".cat3">Webinars</button>
					<button class="project_btn" data-filter=".cat4">Other</button>
					<button class="project_btn" data-filter=".cat5">COPAA</button>
				</div>
			</div>
		</div>
		<div class="projects_slider_content">
			<div class="single_project cat1">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/portfolio_1.jpg" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">OAR Article</a></h4>
						<p>Article</p>
					</div>
				</div>
			</div>
			<div class="single_project cat2 cat3">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/portfolio_2.jpg" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">Partners In Promise</a></h4>
						<p>Webinar</p>
					</div>
				</div>
			</div>
			<div class="single_project cat2 cat3 ">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/portfolio_3.jpg" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">Partners in promise</a></h4>
						<p>Webinar</p>
					</div>
				</div>
			</div>
			<div class="single_project cat1 ">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/portfolio_1.jpg" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">OAR Article</a></h4>
						<p>Article</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_project section -->